
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-style: sans-serif;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Open Sans',sans-serif;
    margin: 0;
    background-color: cyan;
}
#login{
    position: absolute;
    top: 50%;
    left:50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 300px;
}
#login h1{
    color: #fff;
    text-shadow:0 0 10px;
    letter-spacing: 1px;
    text-align: center;
}
h1{
    font-size: 2em;
    margin: 0.67em 0;
}
input{
    width: 300px;
    height: 15px;
    margin-bottom: 10px;
    outline: none;
    padding: 25px;
    font-size: 13px;
    color: #fff;
    border-top: 1px solid #312E3D;
    border-left: 1px solid #312E3D;
    border-right: 1px solid #312E3D;
    border-bottom: 1px solid #56536A;
    border-radius: 55px;
    background-color: #2D2D3F;
}
.but{
    width: 144px;
    min-height: 20px;
    display: inline-block;
    background-color: #4a77d4;
    border: 1px solid #3762bc;
    color: #fff;
    padding: 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 55px;
    margin-top: 5px;
    margin-right: 6px;
}
